.App{
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

body{
  text-align: center;
}

div.list, input{
  margin: 3px auto 0 auto;
  padding: 5px;
  border: 1px solid black;
  width: 30%;
  background: #ffffff;
  box-shadow: 5px 5px 5px darkgrey;
  border-radius: 3px;
}